## Create Stored Proc

CREATE PROCEDURE [dbo].[stored_proc_name]
(
@variable_name varchar(50)=default_value,
)

AS
BEGIN
    SET NOCOUNT ON;
    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
END

## Insert Code in Stored Proc

IF EXISTS (SELECT 1 FROM table_name WHERE column1=@var1 AND column2=@var2)
    BEGIN
        UPDATE table_name Set [col1]=@var1, [col2]=@var2
    END
ELSE
     BEGIN
        INSERT into table_name values(@val1,@val2)
    END

## Get Code in Stored Proc

DECLARE @qry varchar(max)='Select * from '+@table_name+' where col1='''+@var1+''''

## Create an index

CREATE INDEX index1 ON table1 (column1,column2);

## GET All Indexes of a table

EXEC sp_helpindex 'table_name'

## Get all matching tables

select top 100 TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME like '%derived%'

In [ ]:

select @on_query  = coalesce(@on_query  + ' AND ', '') + 
        convert(varchar(MAX),@table_name+'.'+c.column_name)	 FROM
        INFORMATION_SCHEMA.TABLE_CONSTRAINTS T  
        JOIN INFORMATION_SCHEMA.CONSTRAINT_COLUMN_USAGE C  
        ON C.CONSTRAINT_NAME=T.CONSTRAINT_NAME  
        WHERE  C.TABLE_NAME=@table_name  and T.CONSTRAINT_TYPE='PRIMARY KEY'